%% -*- erlang -*-

{port_specs, [{"ebin/pike_nif.so", ["src/crypto/*.c"]}]}.
{port_env, [
            {"CFLAGS", "$CFLAGS -std=c99"},
            {"LDFLAGS", "$LDFLAGS"}
           ]}.

{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "master"}}}
       ]}.
